.root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.actionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.poster {
    transition: all .5s ease-in-out;
}

.poster:hover {
    transform: scale(1.1);
}

.yearSection{
    display: flex;
    align-items: center;
}