.root {
  padding-top: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000000;
}

.movieListContainer {
  padding: 2rem;
  flex: 1;
}